html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.createFunds{
  font-weight: 500!important;
  color: #ffe484!important;
 
}

.createFund{
  font-weight: 500!important;
  color: #ffe484!important;
  border-color: #ffe484 !important;
}

.marginTop{
  margin-top:100px!important;
  margin-bottom:  10px!important;
}
.widthBtn{
  width:100%;
}
.marg{

 
    float: right;
    margin-left: 275px;
}